# Ignore APK and AAB files (large binaries)
*.apk
*.aab

# Node modules
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/
*.jks
*.p12
*.key
*.mobileprovision
*.orig.*

# Native
*.p8

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env

# credentials
credentials.json
google-services.json
GoogleService-Info.plist
google-credentials.json
*.keystore
debug.keystore

# typescript
*.tsbuildinfo
expo-env.d.ts

# Android/IntelliJ
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/

# iOS
ios/Pods/
ios/build/
